body{
   display: flex;
   align-items: center;
   text-align: center;
   flex-direction: column;
}


img {
   margin-top: 5rem;
   margin-bottom: 2rem;
}

iframe{
   margin-top: 2rem;
   margin-bottom: 2rem;
}

@media (max-width: 767px) {
   *{
      font-size: 80%;
      width: 90%;
   }
   html{
      display: flex;
      align-items: center;
      text-align: center;
      flex-direction: row;
      justify-content: flex-end;
   }
 }

